In [4]:
import pandas as pd
import re

# Dataset News

In [2]:
df = pd.read_csv('news_sentiment_analysis.csv')
df

,Source,Author,Title,Description,URL,Published At,Sentiment,Type
0,stgnews,Bridger Palmer,Pine View High teacher wins Best in State awar...,"ST. GEORGE — Kaitlyn Larson, a first-year teac...",https://www.stgeorgeutah.com/news/archive/2024...,2024-07-12T23:45:25+00:00,positive,Business
1,Zimbabwe Mail,Staff Reporter,Businesses Face Financial Strain Amid Liquidit...,"Harare, Zimbabwe – Local businesses are grappl...",https://www.thezimbabwemail.com/business/busin...,2024-07-12T22:59:42+00:00,neutral,Business
2,4-traders,NaN,Musk donates to super pac working to elect Tru...,(marketscreener.com) Billionaire Elon Musk has...,https://www.marketscreener.com/business-leader...,2024-07-12T22:52:55+00:00,positive,Business
3,4-traders,NaN,US FTC issues warning to franchisors over unfa...,(marketscreener.com) A U.S. trade regulator on...,https://www.marketscreener.com/quote/stock/MCD...,2024-07-12T22:41:01+00:00,negative,Business
4,PLANET,NaN,Rooftop solar's dark side,4.5 million households in the U.S. have solar ...,https://www.npr.org/2024/07/12/1197961036/roof...,2024-07-12T22:28:19+00:00,positive,Business
...,...,...,...,...,...,...,...,...
3495,etfdailynews,MarketBeat News,"Arrow Electronics, Inc. (NYSE:ARW) Shares Purc...",QRG Capital Management Inc. increased its stak...,https://www.etfdailynews.com/2024/07/18/arrow-...,2024-07-18T14:36:45+00:00,positive,Technology
3496,etfdailynews,MarketBeat News,"3,120 Shares in NICE Ltd. (NASDAQ:NICE) Bought...",QRG Capital Management Inc. bought a new posit...,https://www.etfdailynews.com/2024/07/18/3120-s...,2024-07-18T14:36:44+00:00,positive,Technology
3497,etfdailynews,MarketBeat News,"QRG Capital Management Inc. Has $857,000 Stock...",QRG Capital Management Inc. boosted its stake ...,https://www.etfdailynews.com/2024/07/18/qrg-ca...,2024-07-18T14:36:43+00:00,positive,Technology
3498,finanznachrichten,NaN,Biotechnology Market: Surging Investments and ...,"WESTFORD, Mass., July 18, 2024 /PRNewswire/ --...",https://www.finanznachrichten.de/nachrichten-2...,2024-07-18T14:36:00+00:00,neutral,Technology
3499,etfdailynews,MarketBeat News,"QRG Capital Management Inc. Sells 1,665 Shares...",QRG Capital Management Inc. reduced its holdin...,https://www.etfdailynews.com/2024/07/18/qrg-ca...,2024-07-18T14:32:46+00:00,positive,Technology

In [3]:
data_test = df[['Description', 'Sentiment']]
data_test

                                            Description Sentiment
0     ST. GEORGE — Kaitlyn Larson, a first-year teac...  positive
1     Harare, Zimbabwe – Local businesses are grappl...   neutral
2     (marketscreener.com) Billionaire Elon Musk has...  positive
3     (marketscreener.com) A U.S. trade regulator on...  negative
4     4.5 million households in the U.S. have solar ...  positive
...                                                 ...       ...
3495  QRG Capital Management Inc. increased its stak...  positive
3496  QRG Capital Management Inc. bought a new posit...  positive
3497  QRG Capital Management Inc. boosted its stake ...  positive
3498  WESTFORD, Mass., July 18, 2024 /PRNewswire/ --...   neutral
3499  QRG Capital Management Inc. reduced its holdin...  positive

[3500 rows x 2 columns]

In [5]:
def clean_comments_yt(text):
    # Hapus mention, hashtag, dan link
    text = re.sub(r'@[A-Za-z0-9_]+', '', text)
    text = re.sub(r'#\w+', '', text)
    text = re.sub(r'https?://\S+', '', text)
    text = re.sub(r'a href', '', text)

    # Hapus emoji (unicode emoticon)
    emoji_pattern = re.compile(
        "["
        u"\U0001F600-\U0001F64F"  # emoticon wajah
        u"\U0001F300-\U0001F5FF"  # simbol & pictogram
        u"\U0001F680-\U0001F6FF"  # transportasi & simbol
        u"\U0001F1E0-\U0001F1FF"  # bendera (kode negara)
        u"\U00002700-\U000027BF"  # simbol tambahan
        u"\U000024C2-\U0001F251"  # simbol enclosed
        "]+", flags=re.UNICODE)
    text = emoji_pattern.sub(r'', text)

    # Hapus karakter non-alfanumerik dan ekstra spasi
    text = re.sub(r'[^A-Za-z0-9 ]', '', text)
    text = re.sub(r'\s+', ' ', text).strip()

    return text

data_test['Description'] = data_test['Description'].apply(clean_comments_yt)

C:\Users\Renata\AppData\Local\Temp\ipykernel_17708\2693776118.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test['Description'] = data_test['Description'].apply(clean_comments_yt)

In [6]:
data_test['Description'].isna().sum()

0

In [7]:
print("Statistik deskriptif kolom 'textDisplay':")
print(data_test['Description'].describe())

Statistik deskriptif kolom 'textDisplay':
count                                                  3500
unique                                                 2374
top       Politics it is said is the art and science of ...
freq                                                     42
Name: Description, dtype: object

In [8]:
data_test.duplicated(subset='Description').sum()

1126

In [ ]:
data_test = data_test.drop_duplicates(subset='Description')
data_test.shape

(3500, 8)

In [17]:
data_test.to_csv('data_test.csv')

In [27]:
data_train = data_test[['Description']].copy()
data_train

                                            Description
0     ST GEORGE Kaitlyn Larson a firstyear teacher a...
1     Harare Zimbabwe Local businesses are grappling...
2     marketscreenercom Billionaire Elon Musk has do...
3     marketscreenercom A US trade regulator on Frid...
4     45 million households in the US have solar pan...
...                                                 ...
2795  QRG Capital Management Inc increased its stake...
2796  QRG Capital Management Inc bought a new positi...
2797  QRG Capital Management Inc boosted its stake i...
2798  WESTFORD Mass July 18 2024 PRNewswire Accordin...
2799  QRG Capital Management Inc reduced its holding...

[2374 rows x 1 columns]

In [28]:
data_train.rename(columns={'Description': 'comments'}, inplace=True)

In [31]:
print(data_train.columns)

Index(['comments'], dtype='object')

In [32]:
data_train.reset_index(drop=True, inplace=True)

In [33]:
data_train

                                               comments
0     ST GEORGE Kaitlyn Larson a firstyear teacher a...
1     Harare Zimbabwe Local businesses are grappling...
2     marketscreenercom Billionaire Elon Musk has do...
3     marketscreenercom A US trade regulator on Frid...
4     45 million households in the US have solar pan...
...                                                 ...
2369  QRG Capital Management Inc increased its stake...
2370  QRG Capital Management Inc bought a new positi...
2371  QRG Capital Management Inc boosted its stake i...
2372  WESTFORD Mass July 18 2024 PRNewswire Accordin...
2373  QRG Capital Management Inc reduced its holding...

[2374 rows x 1 columns]

In [34]:
data_train.to_csv('data_train.csv')

# Dataset Social Media

In [46]:
dt = pd.read_csv('synthetic_social_media_data.csv')
dt

,Post ID,Post Content,Sentiment Label,Number of Likes,Number of Shares,Number of Comments,User Follower Count,Post Date and Time,Post Type,Language
0,aa391375-7355-44b7-bcbf-97fb4e5a2ba3,Word who nor center everything better politica...,Neutral,157,243,64,4921,2024-01-10 00:14:21,video,fr
1,1c9ec98d-437a-48d9-9cba-bd5ad853c59a,Begin administration population good president...,Positive,166,49,121,612,2024-02-03 00:20:11,image,es
2,170e5b5b-1d9a-4d02-a957-93c4dbb18908,Thousand total sign. Agree product relationshi...,Positive,185,224,179,9441,2024-07-25 14:20:23,video,de
3,aec53496-60ee-4a06-8821-093a04dc8770,Individual from news third. Oil forget them di...,Neutral,851,369,39,6251,2024-02-20 09:15:09,text,de
4,4eacddb7-990d-4056-8784-7e1d5c4d1404,Time adult letter see reduce. Attention sudden...,Negative,709,356,52,1285,2024-03-01 04:17:35,image,de
...,...,...,...,...,...,...,...,...,...,...
1995,ac186198-3993-43ef-87cf-ea30c4337660,Give word popular coach. Interview born moveme...,Negative,803,213,176,9306,2024-07-10 16:58:10,video,zh
1996,d24d1f3b-c0bf-491b-bdbe-6a494b38fe29,Her eye interesting matter certainly suddenly....,Neutral,211,227,179,8433,2024-02-02 02:39:45,text,de
1997,978f54ce-4967-4063-a106-1446c1f44285,War small want create new. Road society it mot...,Positive,533,194,147,6900,2024-01-30 17:04:23,image,en
1998,c26161d8-5e6d-4ad9-9592-ce9ed93c3c68,Member store put huge already hard me. Evidenc...,Neutral,494,63,24,4368,2024-07-11 00:49:01,video,es
1999,b8eddc7f-6c89-44e1-9d07-409b2cfad98b,Place now sing question drug wide size. What a...,Negative,356,280,152,334,2024-03-07 18:42:04,image,de

In [47]:
data_test = dt[['Post Content', 'Sentiment Label']]
data_test

                                           Post Content Sentiment Label
0     Word who nor center everything better politica...         Neutral
1     Begin administration population good president...        Positive
2     Thousand total sign. Agree product relationshi...        Positive
3     Individual from news third. Oil forget them di...         Neutral
4     Time adult letter see reduce. Attention sudden...        Negative
...                                                 ...             ...
1995  Give word popular coach. Interview born moveme...        Negative
1996  Her eye interesting matter certainly suddenly....         Neutral
1997  War small want create new. Road society it mot...        Positive
1998  Member store put huge already hard me. Evidenc...         Neutral
1999  Place now sing question drug wide size. What a...        Negative

[2000 rows x 2 columns]

In [48]:
def clean_comments_yt(text):
    # Hapus mention, hashtag, dan link
    text = re.sub(r'@[A-Za-z0-9_]+', '', text)
    text = re.sub(r'#\w+', '', text)
    text = re.sub(r'https?://\S+', '', text)
    text = re.sub(r'a href', '', text)

    # Hapus emoji (unicode emoticon)
    emoji_pattern = re.compile(
        "["
        u"\U0001F600-\U0001F64F"  # emoticon wajah
        u"\U0001F300-\U0001F5FF"  # simbol & pictogram
        u"\U0001F680-\U0001F6FF"  # transportasi & simbol
        u"\U0001F1E0-\U0001F1FF"  # bendera (kode negara)
        u"\U00002700-\U000027BF"  # simbol tambahan
        u"\U000024C2-\U0001F251"  # simbol enclosed
        "]+", flags=re.UNICODE)
    text = emoji_pattern.sub(r'', text)

    # Hapus karakter non-alfanumerik dan ekstra spasi
    text = re.sub(r'[^A-Za-z0-9 ]', '', text)
    text = re.sub(r'\s+', ' ', text).strip()

    return text

data_test['Post Content'] = data_test['Post Content'].apply(clean_comments_yt)

C:\Users\Renata\AppData\Local\Temp\ipykernel_17708\1835493661.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test['Post Content'] = data_test['Post Content'].apply(clean_comments_yt)

In [49]:
data_test['Post Content'].isna().sum()

0

In [50]:
print(data_test['Post Content'].describe())
data_test.duplicated(subset='Post Content').sum()

count                                                  2000
unique                                                 2000
top       Word who nor center everything better politica...
freq                                                      1
Name: Post Content, dtype: object

0

In [51]:
data_test.rename(columns={'Post Content': 'comments', 'Sentiment Label': 'sentiment'}, inplace=True)

C:\Users\Renata\AppData\Local\Temp\ipykernel_17708\2225590603.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test.rename(columns={'Post Content': 'comments', 'Sentiment Label': 'sentiment'}, inplace=True)

In [52]:
data_test.to_csv('data_test_sosmed.csv')

In [53]:
data_train = data_test[['comments']].copy()
data_train

                                               comments
0     Word who nor center everything better politica...
1     Begin administration population good president...
2     Thousand total sign Agree product relationship...
3     Individual from news third Oil forget them dif...
4     Time adult letter see reduce Attention suddenl...
...                                                 ...
1995  Give word popular coach Interview born movemen...
1996  Her eye interesting matter certainly suddenly ...
1997  War small want create new Road society it moth...
1998  Member store put huge already hard me Evidence...
1999  Place now sing question drug wide size What al...

[2000 rows x 1 columns]

In [54]:
data_train.to_csv('data_train_sosmed.csv')